@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
}

/* Variáveis para o modo claro */
:root {
    --bg-color: #ffffff;
    --text-color: #333333;
    --primary-color: #3498db;
}

/* Variáveis para o modo escuro */
.dark {
    --bg-color: #1a202c;
    --text-color: #ffffff;
    --primary-color: #9b59b6;
}

/* Estilos gerais */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.navbar {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.font-semibold {
    font-weight: 600;
    color: var(--text-color);
}