@import "tailwindcss";

/* Variáveis para o modo claro */
:root {
    --bg-color: #ffffff;
    --text-color: #333333;
    --primary-color: #3498db;
    --btn-linguage: #7B7B7B;
}

/* Variáveis para o modo escuro */
.dark {
    --bg-color: #19213D;
    --text-color: #ffffff;
    --primary-color: #9b59b6;
    --btn-linguage: #19213D;
}

/* Estilos gerais */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.navbar {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.font-semibold {
    font-weight: 600;
    color: var(--text-color);
}

.title-home, .link-home{
    color: white ;
}